@import url('https://fonts.googleapis.com/css?family=Eater|Indie+Flower'); 

#care2React {
  margin: 0 !important;
  padding: 0 !important;
}

.mainTit {
  height: 300px;
  text-align: center;
  font-size: 2.8vw;
  margin: 10% auto 0 auto;
  font-family: 'Eater', 'cursive';
  left : 25%;
  position: fixed;
  float: left;
}

.h1a {
  float      : left;
  /* color      : darkred; */
}
.h1b {
  float      : left;
  color      : rgb(161, 7, 7);
}
.h1c {
  float      : left;
  color      : rgb(209, 7, 7);
}
.h1d {
  float      : left;
  color      : rgb(248, 7, 7);
}
.h1e {
  float      : left;
  color      : rgb(252, 92, 0);
}
.h1f {
  float      : left;
  color      : rgb(250, 142, 0);
}
.h1g {
  float      : left;
  color      : rgb(247, 190, 4);
}
.h1h {
  float      : left;
  color      : rgb(238, 255, 0);
}
.h1i {
  float      : left;
  color      : rgb(94, 255, 0);
}
.h1j {
  float      : left;
  color      : rgb(0, 255, 34);
}

.subTit {
  height: 300px;
  text-align: center;
  font-size: 2vw;
  margin: 20% auto 0 auto;
  font-family: 'Eater', 'cursive';
  left : 20%;
  position: fixed;
  float: left;
}

.h3a {
  float         : left;
  color         : darkred;
  margin-right  : 20px;
}
.h3b {
  float         : left;
  color         : rgb(161, 7, 7);
}
.h3c {
  float      : left;
  color      : rgb(209, 7, 7);
}
.h3d {
  float      : left;
  color      : rgb(248, 7, 7);
}
.h3e {
  float      : left;
  color      : rgb(252, 92, 0);
}
.h3f {
  float      : left;
  color      : rgb(250, 142, 0);
}
.h3g {
  float      : left;
  color      : rgb(247, 190, 4);
}
.h3h {
  float      : left;
  color      : rgb(238, 255, 0);
}
.h3i {
  float      : left;
  color      : rgb(94, 255, 0);
  margin-right  : 20px;
}
.h3j {
  float      : left;
  color      : rgb(0, 255, 34);
}

.h3l {
  float      : left;
  color      : rgb(0, 255, 34);
}
.h3m {
  float      : left;
  color      : rgb(0, 255, 34);
}
.h3n {
  float      : left;
  color      : rgb(0, 255, 34);
}
.h3o {
  float      : left;
  color      : rgb(0, 255, 34);
}
.h3p {
  float      : left;
  color      : rgb(0, 255, 34);
}
.h3q {
  float      : left;
  color      : rgb(0, 255, 34);
}
.h3r {
  float      : left;
  color      : rgb(0, 255, 34);
}
.h3s {
  float      : left;
  color      : rgb(0, 255, 34);
}
.h3t {
  float      : left;
  color      : rgb(0, 255, 34);
}

.signedTit {
  height: 300px;
  text-align: center;
  font-size: 1vw;
  margin: 35% auto 0 auto;
  font-family: 'Indie Flower', 'cursive';
  left : 35%;
  position: fixed;
  float: left;
}

.h5a {
  float         : left;
  color         : darkred;
}
.h5b {
  float         : left;
  color         : rgb(161, 7, 7);
  margin-right  : 20px;
}
.h5c {
  float         : left;
  color         : rgb(209, 7, 7);
}
.h5d {
  float         : left;
  color         : rgb(248, 7, 7);
}
.h5e {
  float         : left;
  color         : rgb(252, 92, 0);
}
.h5f {
  float         : left;
  color         : rgb(250, 142, 0);
}
.h5g {
  float         : left;
  color         : rgb(247, 190, 4);
}
.h5h {
  float         : left;
  color         : rgb(238, 255, 0);
}
.h5i {
  float         : left;
  color         : rgb(94, 255, 0);
}
.h5j {
  float         : left;
  color         : rgb(0, 255, 34);
}

.h5k {
  float         : left;
  color         : rgb(0, 255, 34);
}
.h5l {
  float         : left;
  color         : rgb(0, 255, 34);
}
.h5m {
  float         : left;
  color         : rgb(0, 255, 34);
}
.h5n {
  float         : left;
  color         : rgb(0, 255, 34);
}
.h5o {
  float         : left;
  color         : rgb(0, 255, 34);
}
.h5p {
  float         : left;
  color         : rgb(0, 255, 34);
}
.h5q {
  float         : left;
  color         : rgb(0, 255, 34);
}
.h5r {
  float         : left;
  color         : rgb(0, 255, 34);
}
.h5s {
  float         : left;
  color         : rgb(0, 255, 34);
}

h3 {
  text-align: center;
  font-size: 2em;
  margin: 0 auto;
  color: darkblue;
  font-family: 'Eater', 'cursive';

}

.myBody {
  margin: 0;
}

.shapeBody {
  margin: 0 auto;
  display:block;
}
