@import url('https://fonts.googleapis.com/css?family=Eater|Indie+Flower'); 
body {
  margin: 0;
}


.mainTit {
  text-align: center;
  font-size: 2.8vw;
  font-size: 2.8vw;
  margin: 10% auto 0 auto;
  font-family: 'Eater', 'cursive';
  left : 25%;
  position: fixed;
  float: left;
}

.h1 {
  float      : left;
  color      : darkred;
}
.h2 {
  float      : left;
  color      : rgb(161, 7, 7);
}
.h3 {
  float      : left;
  color      : rgb(209, 7, 7);
}
.h4 {
  float      : left;
  color      : rgb(248, 7, 7);
}
.h5 {
  float      : left;
  color      : rgb(252, 92, 0);
}
.h6 {
  float      : left;
  color      : rgb(250, 142, 0);
}
.h7 {
  float      : left;
  color      : rgb(247, 190, 4);
}
.h8 {
  float      : left;
  color      : rgb(238, 255, 0);
}
.h9 {
  float      : left;
  color      : rgb(94, 255, 0);
}
.h10 {
  float      : left;
  color      : rgb(0, 255, 34);
}

.subTit {
  height: 300px;
  text-align: center;
  font-size: 2vw;
  margin: 20% auto 0 auto;
  font-family: 'Eater', 'cursive';
  left : 20%;
  position: fixed;
  float: left;
}

.h11 {
  float         : left;
  color         : darkred;
  margin-right  : 20px;
}
.h12 {
  float         : left;
  color         : rgb(161, 7, 7);
}
.h13 {
  float      : left;
  color      : rgb(209, 7, 7);
}
.h14 {
  float      : left;
  color      : rgb(248, 7, 7);
}
.h15 {
  float      : left;
  color      : rgb(252, 92, 0);
}
.h16 {
  float      : left;
  color      : rgb(250, 142, 0);
}
.h17 {
  float      : left;
  color      : rgb(247, 190, 4);
}
.h17 {
  float      : left;
  color      : rgb(238, 255, 0);
}
.h18 {
  float      : left;
  color      : rgb(94, 255, 0);
}
.h19 {
  float      : left;
  color      : rgb(0, 255, 34);
  margin-right  : 20px;
}

.h20 {
  float      : left;
  color      : rgb(0, 255, 34);
}
.h21 {
  float      : left;
  color      : rgb(0, 255, 34);
}
.h22 {
  float      : left;
  color      : rgb(0, 255, 34);
}
.h23 {
  float      : left;
  color      : rgb(0, 255, 34);
}
.h24 {
  float      : left;
  color      : rgb(0, 255, 34);
}
.h25 {
  float      : left;
  color      : rgb(0, 255, 34);
}
.h26 {
  float      : left;
  color      : rgb(0, 255, 34);
}
.h27 {
  float      : left;
  color      : rgb(0, 255, 34);
}
.h28 {
  float      : left;
  color      : rgb(0, 255, 34);
}
.h29 {
  float         : left;
  color         : rgb(0, 255, 34);
}

.signedTit {
  height: 300px;
  text-align: center;
  font-size: 1vw;
  margin: 35% auto 0 auto;
  font-family: 'Indie Flower', 'cursive';
  left : 35%;
  position: fixed;
  float: left;
}

.h30 {
  float         : left;
  color         : rgb(161, 7, 7);
}
.h31 {
  float         : left;
  color         : rgb(209, 7, 7);
  margin-right  : 20px;
}
.h32 {
  float         : left;
  color         : rgb(248, 7, 7);
}
.h33 {
  float         : left;
  color         : rgb(252, 92, 0);
}
.h34 {
  float         : left;
  color         : rgb(250, 142, 0);
}
.h35 {
  float         : left;
  color         : rgb(247, 190, 4);
}
.h36 {
  float         : left;
  color         : rgb(238, 255, 0);
}
.h37 {
  float         : left;
  color         : rgb(94, 255, 0);
}
.h38 {
  float         : left;
  color         : rgb(0, 255, 34);
}

.h39 {
  float         : left;
  color         : rgb(0, 255, 34);
}
.h40 {
  float         : left;
  color         : rgb(0, 255, 34);
}
.h41 {
  float         : left;
  color         : rgb(0, 255, 34);
}
.h42 {
  float         : left;
  color         : rgb(0, 255, 34);
}
.h43 {
  float         : left;
  color         : rgb(0, 255, 34);
}
.h44 {
  float         : left;
  color         : rgb(0, 255, 34);
}


h3 {
  text-align: center;
  font-size: 2em;
  margin: 0 auto;
  color: darkblue;
  font-family: 'Eater', 'cursive';

}

.myBody {
  margin: 0;
}

.shapeBody {
  margin: 0 auto;
  display:block;
}
